<div class="content-wrapper">
  <section class="content-header">
    <h1>Captura de ticket</h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-ticket"></i> Tickets</a></li>
      <li class="active">Incidentes</li>
      <li class="active">Captura</li>
    </ol>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <!-- <h3 class="box-title">Registro de tickets</h3> -->
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <label class="label-input100" for="Titulo">Titulo *</label>
              <div class="wrap-input100 validate-input">
                <input id="Titulo" class="input100" type="text" name="Titulo" placeholder="Eg. example@email.com">
                <span class="focus-input100"></span>
              </div>
            </div>
            <div class="col-md-4">
              <label class="label-input100" for="Prioridad">Categoria *</label>
              <div class="wrap-input100 validate-input">
                <input id="Prioridad" class="input100" type="text" name="email" placeholder="Eg. example@email.com">
                <span class="focus-input100"></span>
              </div>
            </div>
            <div class="col-md-4">
              <label class="label-input100" for="Prioridad">Subcategoria</label>
              <div class="wrap-input100 validate-input">
                <input id="Prioridad" class="input100" type="text" name="email" placeholder="Eg. example@email.com">
                <span class="focus-input100"></span>
              </div>
            </div>
            <div class="col-md-4">
              <label class="label-input100" for="Prioridad">Departamento</label>
              <div class="wrap-input100 validate-input">
                <input id="Prioridad" class="input100" type="text" name="email" placeholder="Eg. example@email.com">
                <span class="focus-input100"></span>
              </div>
            </div>
            <div class="col-md-4">
              <label class="label-input100" for="Prioridad">Sucursal *</label>
              <div class="wrap-input100 validate-input">
                <input id="Prioridad" class="input100" type="text" name="email" placeholder="Eg. example@email.com">
                <span class="focus-input100"></span>
              </div>
            </div>
            <div class="col-md-8">
              <label class="label-input100" for="Descripcion">Descripcion *</label>
              <div class="wrap-input100 validate-input">
                <input id="Descripcion" class="input100" type="text" name="Descripcion" placeholder="Eg. example@email.com">
                <span class="focus-input100"></span>
              </div>
            </div>
            <div class="col-md-4">
              <label class="label-input100" for="Prioridad">Prioridad</label>
              <div class="wrap-input100 validate-input">
                <input id="Prioridad" class="input100" type="text" name="email" placeholder="Eg. example@email.com">
                <span class="focus-input100"></span>
              </div>
            </div>
            <div class="col-md-4">
              <label class="label-input100" for="Prioridad">IP</label>
              <div class="wrap-input100 validate-input">
                <input id="Prioridad" class="input100" type="text" name="email" placeholder="Eg. example@email.com">
                <span class="focus-input100"></span>
              </div>
            </div>
            <div class="col-md-8">
              <label class="label-input100" for="Prioridad">Adjuntos</label>
              <div class="wrap-input100 validate-input">
                <input id="Prioridad" class="input100" type="text" name="email" placeholder="Eg. example@email.com">
                <span class="focus-input100"></span>
              </div>
            </div>
            <div class="col-md-4">
              <button class="btn btn--radius-2 btn--blue" type="submit">Guardar</button>
            </div>
            <div class="col-md-4">
              <button class="btn btn--radius-2 btn--blue" type="submit">Limpiar</button>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
      </div>
      </div>
</section>
</div>
